# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
venv/
MediManage/**/venv/

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build/cache
*.log
.cache/

# Large local artifacts
*.zip
*.mp4
*.pptx

# Streamlit
.streamlit/secrets.toml

